.ashby-plot {
  background-color: white;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  margin: 2rem 1rem;
}

.ashby-plot__plot {
  width: 90%;
  height: 100%;
  margin: auto;
}

.ashby-plot__plotly {
  width: 95%;
  height: 100%;
}
