.button {
  font: inherit;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 20rem;
}
.button:hover,
.button:active {
  background-color: #510674;
  border-color: #510674;
}

.button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button.alternative:hover,
.button.alternative:active {
  background-color: #ddb3f8;
}
