.new-material {
  background-color: midnightblue;
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}

.new-material__control {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.new-material__newButton {
  padding: 1rem;
  margin: 1rem auto ;
}

.new-material__editButton {
  padding: 1rem;
  margin: 1rem auto;
}

.new-material__form {
  width: 100%;
}
