.new-material {
  background-color: #7D9D9C;
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.new-material__Button {
  width: 100%;
  max-width: 20rem;
}
